name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    container: swift:noble
    steps:
      - uses: actions/checkout@v6

      - name: Restore Swift Package Manager cache
        uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run tests
        run: swift test --parallel

  test-macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.0.app

      - name: Restore Swift Package Manager cache
        uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run tests
        run: swift test --parallel
